<button
mat-button
color="primary"
(click)="goBack()"

>

<mat-icon>
arrow_back
</mat-icon>

</button>

<h1
    
    style="margin-bottom:5%; 
     font-size: 40px;
    font-family: 'Times New Roman', sans-serif; 
    color: darkred;
    size: 20%;
    "
     >
    Your Profile</h1>

<h2>{{user.Username}}</h2>
<h2>{{user.Email}}</h2>
<h2>{{user.Birthday | date}}</h2>






<button
                mat-button
                (click)="openUpdateAccountDialog()"
                color="primary"
            >
                Update Account
                <mat-icon>
                    edit
                    </mat-icon>
            </button>


<button
                mat-button
                (click)="deleteAccount(user)"
                color="primary"
            >
                Delete Account
                <mat-icon>
                    delete
                    </mat-icon>
            </button>

            
